@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --button-color: #f40404;
  --white-color: #fff;
  --heading-color: #000;
  --para-color: #6c6c6c;
}
a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.8;
  font-weight: 700;
}
p {
  font-weight: 500;
  color: var(--para-color);
  font-size: 16px;
}
img {
  width: 100%;
}
.container {
  width: 1144px;
  margin: 0 auto;
}
.common_button a {
  background: transparent;
  border: 2px solid var(--white-color);
  font-weight: 600;
  padding: 13px 32px;
  display: inline-block;
  border-radius: 3px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.common_button a:hover {
  background-color: var(--white-color);
  color: var(--button-color);
}
/* =========== Top nav start here ==============*/

#top_nav {
  background-color: #282828;
  padding: 16px 0;
  position: relative;
}
#top_nav::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 2px;
  background: #ffb800;
}
.top_nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_nav_content {
  display: flex;
  column-gap: 27px;
}
.top_nav_link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top_nav_link i {
  margin-right: 5px;
}
.right_nav_content {
  display: flex;
  align-items: center;
  column-gap: 19px;
}
.top_soical_links a i {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
/* =========== Top nav end here ==============*/

/* =========== Nav bar start here ==============*/
#nav_bar {
  background-color: var(--button-color);
}
.nav_bar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.logo {
  width: 192px;
  height: 44px;
}
.menu ul {
  display: flex;
  align-items: center;
  column-gap: 47px;
  align-items: center;
}

/* =========== Nav bar end here ==============*/

/* =========== Hero section start here ==============*/
#hero_section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/hero_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero_wrapper {
  padding: 257px 0;
}
.hero_content h1 {
  width: 842px;
  font-size: 64px;
  color: #fff;
  line-height: 150%;
}
/* =========== Hero section end here ==============*/

/* =========== Simple text section start here ==============*/
#hero_bottom_section {
  padding: 78px 0;
}
.hero_bottom_section_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 196px;
  align-items: center;
}
.hero_bottom_section_left_content h1 {
  font-size: 48px;
  line-height: 150%;
}
.hero_bottom_section_left_content p {
  line-height: 150%;
}
/* =========== Simple text section end here ==============*/

/* =========== Gallery section start here ==============*/
#gallery {
  padding-bottom: 28px;
}
.gallery_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  flex-wrap: wrap;
}
.gallery_box {
  width: 23%;
  height: 425px;
  overflow: hidden;
}
.gallery_box img {
  height: 100%;
  object-fit: cover;
}
/* =========== Gallery section end here ==============*/

/* =========== Services section start here ==============*/
.services_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services_item {
  width: 50%;
  overflow: hidden;
  position: relative;
}
.services_item img {
  height: 100%;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.services_text {
  display: flex;
  flex-direction: column;
  width: 509px;
  height: 100%;
  justify-content: center;
  gap: 20px;
  line-height: normal;
}

.services_text p {
  width: 405px;
}

.services_text h1 {
  font-size: 64px;
  font-weight: 700;
}
.service_overly_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service_overly_text h4 {
  color: #fff;
  font-size: 25px;
  width: 485px;
  margin-bottom: 22px;
}
/* =========== Services section end here ==============*/

/* =========== About section start here ==============*/
#about {
  padding: 136px 0;
  background: #f0f0f0;
}
.about_wrapper {
  display: flex;
  align-items: center;
}
.about_left_content {
  background-color: var(--button-color);
  width: 413px;
  height: 361px;
}
.about_left_content {
  background-color: var(--button-color);
  width: 413px;
  height: 361px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_left_content h1 {
  width: 262px;
  text-align: start;
  font-size: 36px;
  color: #fff;
}
.about_right_content {
  width: 726px;
  height: 361px;
}

/* =========== About section end here ==============*/

/* =========== Partner section start here ==============*/
#partner {
  padding: 142px 0;
}
.partner_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 65px;
}

.partner_single_item {
  width: 265px;
  height: 94px;
}

.partner_single_item img {
  height: 100%;
}
/* =========== Partner section end here ==============*/

/* =========== Lorem section start here ==============*/
section#lorem {
  background: #f0f0f0;
  padding: 110px 0;
}
.lorem_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}

.lorem_single_box {
  width: 339px;
  height: 401px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}
.lorem_bottom_text h1 {
  text-align: end;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 26px;
  cursor: pointer;
}
.lorem_bottom_text h1 i {
  margin-left: 10px;
}
.lorem_inside_content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 75px 45px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.lorem_inside_content h1 {
  width: 249px;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 10px;
}

/* =========== Lorem section end here ==============*/

/* =========== Branch section start here ==============*/
#branch {
  background: var(--button-color);
}
.branch_wrapper {
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.branch_wrapper h1 {
  font-size: 36px;
}
/* =========== Branch section end here ==============*/

/* =========== Footer section start here ==============*/
#footer {
  background: #1f1f1f;
  padding: 149px 0;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 122px;
}
.address {
  display: flex;
  flex-direction: column;
  width: 315px;
}

.address a img {
  width: 192px;
  height: 44px;
}

.address a {
  margin-top: 18px;
  font-size: 14px;
}
.footer_social_link a {
  background: var(--button-color);
  padding: 20px;
  display: flex;
  height: 29px;
  width: 29px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.footer_social_link a i {
  font-size: 18px;
}
.footer_social_link a:hover {
  color: #000;
  background: #fff;
}
.footer_social_link {
  display: flex;
  column-gap: 20px;
  margin-top: 14px;
}
.footer_heading_text {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 21px;
  color: var(--white-color);
}

.footer_item ul li a {
  margin-bottom: 20px;
  display: inline-block;
  text-transform: capitalize;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.footer_item ul li a:hover {
  color: #2a2ef5;
}
.footer_cart {
  display: flex;
  column-gap: 5px;
  border-radius: 4px;
}

/* Bottom footer content */
.copyright {
  background: #282828;
  padding: 42px 0;
  overflow: hidden;
}

.copyright_text {
  color: #6c6c6c;
  font-size: 16px;
  width: 500px;
}
/* =========== Footer section end here ==============*/
